/data-integration/datasource-service/kafka-demo-di-datasource-service.iml
/data-integration/kafka-demo-di.iml
/data-integration/datasource-service/target
/kafka-demo.ipr
/kafka-demo.iws
/atlassian-ide-plugin.xml
